/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color and text color */
body {
    background-color: #f4f4f4;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

/* Style the header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 2em;
    font-weight: bold;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Change the default link color */
a {
    color: purple; /* You can set your desired color value */
}

/* Remove underlines from links */
a {
    text-decoration: none;
}

/* Style links when hovered over */
a:hover {
    text-decoration: underline; /* You can customize this hover effect */
}


nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Style iframe */
iframe {
    max-width: 100%;
    height: auto;
}

/* Style the sections */
section {
    padding: 40px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

/* Style the portfolio items */
.portfolio-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.portfolio-item img {
    max-width: 50%;
    height: auto;
    border: 1px solid #000;
}

.portfolio-item h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Media query for responsive design */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.5em;
    }
    nav ul li {
        display: block;
        margin: 10px 0;
    }
    .portfolio-item {
        padding: 10px;
    }
}

/* Style the contact form */
#contact-form {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 30px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    margin-bottom: 10px;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #555;
}

/* Center the form on small screens */
@media (max-width: 768px) {
    #contact-form {
        padding: 10px;
    }
}